*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ------HEADER------ */

header{	
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#7c9885;
    z-index: 10000;}
header .logo
{
    float: left;
    width: 80px; 
	height: 50px; 
	margin:15px;}

header ul
{
    justify-content: center;
    align-items: center;
    display: flex;}
header ul li
{
    text-align: left;
    list-style: none;}
header ul li a, .Links-btn
{
    display: block;
    color: #000000;
    font-weight: 600;
    padding:6px 15px;
    text-decoration: none;
    border-radius:10px;}

/*---------------FOOTER----------------*/
footer{
    position: relative;
    bottom: 20;
    left: 0;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns:2fr 1fr 1fr 1fr; 
    grid-gap:20px;
    background-color:#7c9885;}
footer .BottomLogo{
    float: left;
    width: 70px; 
	height:50px; 
	margin-bottom:20px;}
footer h2{
    position: relative;
    color:#fff;
    font-weight: 700;
    font-size: 1,5em;}
footer h2::before{
    content:'';
    position: absolute;
    bottom: -5px;
    left:0;
    width:50px;
    height:2px;
    background: #fedc97}
footer p{
    color:#000000;
    font-size: 0,5em;}

/* Meida Links */

ul_Media{
    margin-top:20px;
    display: grid;
    grid-template-columns: repeat(4,50px,);
    grid-gap:10px;}
ul_Media li{
    List-style:none; }
ul_Media li a{
    display: inline-block;
    width:25px;
    height:25px;
    background: #fff;
    display: grid;
    align-content: center;
    justify-content :center;
    text-decoration: none;
    border-radius: 4px;}
ul_Media li a:hover {
    background:#fedc97;}
ul_Media li a .fa{
    color:#000;
    font-size:20px;}

/* QuickLinks */

ul_QuickLinks{
    position:relative;}
ul_QuickLinks li{
    list-style:none;}
ul_QuickLinks li a{
    color:#000;
    font-weight: 700;
    font-size: 1,2em;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom:10px;
    display:inline-block;}
ul_QuickLinks li a:hover{
    color:#fedc97;}

    /* Links */
ul_Links{
    position:relative;}
ul_Links li{
    display:grid;
    grid-template-columns: 30px 1fr;
    margin-top: 20px;
    margin-bottom:16px;
    list-style:none;}
ul_Links icon{
    color:#000;
    border-radius: 4px;
    width:30px;
    height:30px;
    font-size:20px;}
ul_Links li p{
    color:#000000;
    font-size: 0,5em;
    font-weight:700}
ul_Links li a{
    color:#000;
    font-weight: 700;
    font-size: 1,2em; 
    text-decoration: none;
    margin-top: 0px;
    display:inline-block;}
ul_Links li icon .fa{
    color:#000;
    font-size:20px;}
ul_Links li a:hover{
    color:#fedc97;}
    /*---------------COPYRIGHTS----------------*/

CopyRights{
    display:flex;
    padding: 8px 100px;
    width: 100%;
    background-color:#28666e;
    text-align: center;
    color: #000;
    justify-content: center;}

/*---------------LINK EFFECTS & IMAGES----------------*/

.Links-btn:hover,
.active{
    background: #fedc97;
    color: #000000;
    transition: 0.2s;}

/* ------MAIN CONTENT_ Introduction ------ */

Heading
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;}
textBox
{
    position: relative;
    max-width: 600px;
    padding-left: 40px;
    padding-top: 4px}
textBox h2
{
    color: #b5b682;
    font-size: 3.5em;
    line-height: 1.4em;
    font-weight:400;
    padding-top: 0%;
}
textBox h2 keyword
{
    color: #033f63;
    font-size: 1.2em;
    font-weight:900;}
textBox p
{
    color: #000;
    text-align: justify;}
imgBox
{
    width:600px;
    display:flex;
    justify-content: flex-end;
    padding-right: 90px;
    margin-top: 100px;}
imgBox img
{
    width:600px;
    height: 350px;
    padding-bottom: 15px;}

/* ------MAIN CONTENT_Widgets (Time, Wheather, Currency, Map)------ */
Main{
    position: relative;
    padding: 60px;
    background: #b5b682;}
row{
    display:flex;}
column{
    flex-basis: 30%;
    position: relative;
    overflow: hidden;
    transition:0.5s;} 
column img{
    width: 230px;
    height:210px;
    padding: 35px;
    display: block;}
column h2{
    width: 100%;
    font-weight: 500;
    color: #fff;       
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;}
column Text{
    width: 250px;
    height:200px;
    padding: 10px;
    display: block;
    background-color: #ffffff;}
column p{
    top: 70px;}
Box{
    width: 230px;
    height:210px;
    padding: 10px;
    display: block;
    background: #033f63;} 
select{
    width: 80%;
    height: 40px;
    font-size:1.2em;
    cursor: pointer;
    background: #fff;
    outline: none;
    color: #000;
    margin:0,5em 0;
    padding: 1, 1em;
    border-radius: 10px;
    border: none;}
input{
    width: 45%;
    height: 35px;
    font-size:1em;
    cursor: pointer;
    background: #b5b682;
    outline: none;
    margin:0,5em 0;
    padding: 0 1em;
    border-radius: 10px;
    border: none;}
.btn{
    width: 50%;
    height: 35px;
    color:#000;
    font-size:1em;
    cursor: pointer;
    background: #b5b682;
    outline: none;
    margin:1em 0;
    padding: 0 1em;
    border-radius: 10px;
    border: none;}

/* ------Widgets (Time, Wheather, Currency, Map)------ */

NoAction .datetime{
    font-size: 16px;
    padding: 24px;
    color: #ffffff;
    background: #033f63;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 250px;
    height: 210px;
    font-weight: 500;
    font-family: "Inter", sans-serif;}
NoAction p  {
    font-size: 2em;
    color: #fedc97;}
NoAction p {
    margin-top: 12px;
    font-size: 1.75em;}



/* ------What to do in each country------ */

.Action{
    background: transparent;
    width: 250px;
    height:300px;
    position: absolute;
    top: 0px;
    left:0;
    transition:0.5s;}
.Action:hover{background: #033f63;}
.Action h2{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    top: 4%;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    text-align: center}
.Action:hover h2{
    bottom: 49%;
    opacity: 1;}
.Action p{
	width: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 12px;
	bottom: 0;
	left: 50%;
    transform: translatex(-50%);
    position: absolute;
	opacity: 0;
    transition: 0.5s;
    text-align: center;}
.Action:hover p{
    bottom: 49%;
    opacity: 1;}
NoAction, Action{
    background: transparent;
    display: block;
    width: 250px;
    height:200px;
    position: absolute;
    top: 30px;
    left:0;
    transition:0.5s;}
Action{
    overflow: scroll;}

